/* src/assets/css/tailwind.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    @apply text-dark;
  }

  h1 {
    font-weight: bold !important;
    font-size: 2em !important;
  }

  p {
    margin-bottom: 1em !important;
    font-size: 17px !important;
  }

  body {
    @apply bg-background-white;
  }

  img {
    border-radius: 0.25rem;
    object-fit: contain;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: rgba(100, 100, 100, 0.25);
    border: 2px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(40, 40, 40, 0.5);
    border: 2px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
  }
}

@layer components {
  .image-wrapper {
    border-radius: 0.25rem;
    @apply bg-sidebargray;
  }
}
